@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using digitalShop.application.Services.Users.Queries.getUser;
@model ResultGetUsersDTO;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<!-- index of account controller-->
<!-- row -->
<div class="row tm-content-row tm-mt-big">
    <div class="tm-col tm-col-big">
        <div class="bg-white tm-block">
            <div class="row">
                <div class="col-12">
                    <h2 class="tm-block-title d-inline-block">Accounts</h2>
                </div>
            </div>
            <table class="table">
                 <thead>
                     <tr>
                         <th>
                             Name
                         </th>
                         <th>
                             Email
                         </th>
                         <th>actions</th>
                     </tr>
                 </thead>
                 <tbody>
                  @foreach (var item in Model.users)
                  {
                      <!--modifyed part model-->
                      <tr>
                          <td>
                              @item.name
                          </td>
                          <td>
                              @item.email
                          </td>
                          <td>
                          <td>
                                  @*<!--@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |      /*true for phone */-->*@
                                  @Html.ActionLink("Details", "Details", new { /* phone = item.Phone  id=item.PrimaryKey */ }) |
                                  @Html.ActionLink("Delete", "Delete", new { /* phone = item.Phone  id=item.PrimaryKey */ })
                          </td>
                      </tr>
                  }
            </table>
        </div>
    </div>
    <div class="tm-col tm-col-big">
        <div class="bg-white tm-block">
            <div class="row">
                <div class="col-12">
                    <h2 class="tm-block-title">Edit Account</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <form action="" class="tm-signup-form">
                        <div class="form-group">
                            <label for="name">Account Name</label>
                            <input placeholder="Vulputate Eleifend Nulla" id="name" name="name" type="text" class="form-control validate">
                        </div>
                        <div class="form-group">
                            <label for="email">Account Email</label>
                            <input placeholder="vulputate@eleifend.co" id="email" name="email" type="email" class="form-control validate">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input placeholder="******" id="password" name="password" type="password" class="form-control validate">
                        </div>
                        <div class=" form-group">
                            <label for="password2">Re-enter Password</label>
                            <input placeholder="******" id="password2" name="password2" type="password" class="form-control validate">
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <label for="category" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">roles</label>
                                <select class="custom-select col-xl-9 col-lg-8 col-md-8 col-sm-7" id="category" asp-items="ViewBag.roles" multiple>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <button type="submit" class="btn btn-primary">
                                    Update
                                </button>
                            </div>
                            <div class="col-12 col-sm-8 tm-btn-right">
                                <button type="submit" class="btn btn-danger">
                                    Delete Account
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-8 tm-btn-right">
                    <a href="~/admin/account/create" class="btn btn-danger">Create Account</a>
                </div>
            </div>
        </div>
    </div>

</div>

